<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Coiny|Anton" rel="stylesheet">
  {{!-- css --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	</head>
	<body>
  <div class="container">
  <h1 class="center-align">Eat Da Burger</h1>
</div>
		{{{ body }}}
	</body>
</HTML>
